[Desktop Entry]
Name=Qtarch
Comment=A graphical dialog editor for the Qt widget set
Comment[de]=Ein grafisches Dialog-Editor für Qt Widget
Comment[pl]=Architekt Qt - graficzny edytor kontrolek QT
Icon=qtarch.png
Exec=qtarch
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
