Name=Qtarch
Comment=A graphical dialog editor for the Qt widget set
Comment[de]=Ein grafisches Dialog-Editor für Qt Widget
Comment[pl]=Architekt Qt - graficzny edytor kontrolek QT
Icon=qtarch.png
Exec=qtarch
Terminal=0
Type=Application
# vi: encoding=utf-8
